# Maven build output
/target/
target/

# Java compiler output
*.class

# Logs
*.log

# IDE files
/.idea/
/.ide/
/.classpath
/.project
/.settings/
/examples/gradle-basic/.classpath
/examples/gradle-basic/.project
/examples/gradle-basic/.settings/
/javaspec-gradle-plugin/.classpath
/javaspec-gradle-plugin/.project
/javaspec-gradle-plugin/.settings/
/javaspec-gradle-plugin/bin/
*.iml
/.vscode/

# Operating system files
.DS_Store
Thumbs.db
